#backtotop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #212529;
  box-shadow: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-bottom: 4px;
	border: none;
	cursor: pointer;
}

#backtotop svg {
  fill: #d4d4d4;
}